body {
    background-color: #a66744;
    color: #333;
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
}
.current-menu-item {
     text-decoration: underline;
     text-decoration-thickness: 3px;
     text-decoration-color: red;
     
}
header {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

nav {
    text-align: center;
    margin-top: 20px;
}

.previous {
  background-color: #a66744;
  color: white;
}

.next {
  background-color: #a66744;
  color: white;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s, border-color 0.3s;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #eeb273;
    border-bottom-color: #eeb273;
}

main {
    margin: 20px auto; /* Centriraj main blok */
    max-width: 800px; /* Postavi maksimalnu širinu main bloka */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centriraj tekst unutar main bloka */
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #eeb273;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Dodajte sledeće stilove za slike unutar sekcije */
section img {
    max-width: 100%; /* Postavi maksimalnu širinu slike */
    height: auto;
    object-fit: cover;
    display: block;
    margin: 20px auto; /* Centriraj sliku unutar sekcije */
}